/* Tamaño de fuente dinámico */
h1 {
    font-size: clamp(2.5rem, 10vw, 5rem);
}

h2 {
    font-size: clamp(1rem, 2vw, 1.3rem);
}

/* Botón Sign In */
.sign-in-btn {
    background-color: #0DBC73 !important;
}

  
