@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* Tamaño de fuente base */
html {
  font-size: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  max-width: 100vw;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) transparent;

}

body.bodyNightMode {
  background-color: #121212;
  color: white;
}

body.bodyDayMode {
  background-color: #F7F7F7;
  color: black;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl {
  display: none !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.MuiMasonry-root {
  margin: 0px !important;
}

/* Tipografías para encabezados */
h1 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
}

h2 {
  font-size: 1.2rem;
}

/* Header estilo */
header {
  padding: 2rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* Botones */
button {
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.animated-gradient-button {
  position: relative;
  display: inline-block;
  padding: 0.75rem 2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: var(--button-bg);
  color: var(--button-color);
  overflow: hidden;
  z-index: 0;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.animated-gradient-button::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 13px;
  background: linear-gradient(270deg, #0dbc73, #02995d, #035839, #0dbc73, #02995d);
  background-size: 600% 600%;
  animation: borderFlow 4s linear infinite;
  z-index: -1;
}

.animated-gradient-button > span {
  position: relative;
  z-index: 1;
}

@keyframes borderFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bodyDayMode {
  --button-bg: white;
  --button-color: white;
}

.bodyNightMode {
  --button-bg: #222423;
  --button-color: black;
}

/* Modo claro/oscuro automático */
@media (prefers-color-scheme: light) {
  body {
    background-color: #F7F7F7;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,1);
  border-radius: 9999px;
}

